.ff{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
input[type=text]{
height: 20px;
width: 400px;
}
input[type=password]{
    height: 20px;
    width: 400px;
    }
    input[type=number]{
        height: 20px;
        width: 400px;
        }
        .f1{
        font-size: 30px;
        margin-bottom: 10pt;
        }